.section {
  width: 60%;
  margin: auto;
  height: auto;
  margin-bottom: 10rem;
}
.blog {
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding: 4px;
  margin-bottom: 10px;
}
@media (max-width: 700px) {
  .section {
    width: 90%;
  }
}
