.title {
  width: 50%;
  text-align: center;
  margin: auto;
  font-size: 54px;
}

.body {
  width: 30%;
  line-height: 2;
  text-align: center;
  margin: auto;
  font-size: 20px;
}

@media (max-width: 700px) {
  .title {
    width: 100%;
    font-size: 36px;
  }
  .body {
    width: 100%;
    font-size: 16px;
  }
}
