* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #0f181a;
  --background: #ffffff;
  --primary: #000000;
  --secondary: #f2eb21;
  --accent: #000000;
}

body {
  background-color: var(--background);
}
